* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: AvenirBold;
}

body {
  background: url("saecbg.jpg");
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  text-align: center;
}

.card {
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  padding: 3rem 2rem;
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  max-height: auto;
  max-width: 500px;
  margin: auto;
  justify-content: center;
  align-items: center;
}


.card h1 {
  color: black;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.card p {
  font-size: 1rem;
  color: black;
  margin-bottom: 1rem;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.75rem 1.5rem;
  background-color: black;
  color: white;
  text-decoration: none;
  border-radius: 25px;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: grey;
}
